<div *ngIf="esAdmin" style="text-align: right; margin-right: 20px;">
      <button mat-mini-fab color="primary"  (click)="agregarCurso()" >
        <mat-icon >add</mat-icon>
      </button>
      </div>
<table mat-table [dataSource]="cursos$ | async" style="width: 100%;" class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
      <th  mat-header-cell appTamanoletra *matHeaderCellDef> Nombre</th>
      <td mat-cell  *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="inicio">
            <th  mat-header-cell appTamanoletra *matHeaderCellDef> Fecha Inicio</th>
            <td mat-cell  *matCellDef="let element"> {{element.fechaInicio | date: 'dd/mm/yyyy' }} </td>
      </ng-container>

      <ng-container matColumnDef="fin">
            <th  mat-header-cell appTamanoletra *matHeaderCellDef> Fecha Fin</th>
            <td mat-cell  *matCellDef="let element"> {{element.fechaFin | date: 'dd/mm/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="verMas">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-mini-fab color="primary" (click)="verMas(element)">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container *ngIf="esAdmin" matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-mini-fab color="primary" (click)="editarCurso(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
        
          <ng-container *ngIf="esAdmin" matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-mini-fab color="primary" (click)="eliminarCurso(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>