<mat-toolbar color="primary" style="background-color: blue;">
    <div>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <a mat-button appTamanoletra>UNC</a>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav fxLayout="column" mode="side" style="background-color: blues;" opened="true">
        <app-toolbar></app-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-lista-alumnos ></app-lista-alumnos>
    </mat-sidenav-content>
</mat-sidenav-container>